<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <h3>All Events:</h3>
    <% events.forEach(function(event) { %>
        <p><%= event.name %></p>
    <% }) %>
</body>
</html>