<%- include('../partials/head') %>
<title>NextGen Coders Academy Registration</title>
<%- include('../partials/head_end') %>
<div class="flex justify-center">
  <div class="min-w-96 my-16 md:mx-3 pb-8 pt-3 md:max-w-md p-4 rounded-lg bg-slate-50">
    <h2 class="text-3xl my-4 font-bold">Create your account</h2>
    <form class="flex flex-col" action="" method="post">
        <label for="email" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Email</label>
        <input class="mt-1 mb-3 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="email" id="email" name="email" placeholder="Enter Email Address">
        <label for="password" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Password</label>
        <input class="mt-1 mb-3 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" id="password" name="password" placeholder="Enter Password">
        <label for="confirmPassword" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">Confirm Password</label>
        <input class="mt-1 mb-3 appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
        <button class="font-xs rounded py-2 text-white bg-blue-400 hover:bg-blue-500" type="submit" value="Register">Register →</button>
    </form>
    <div class="my-3">
        <p class="text-xs">Already have an account? <span class="text-blue-600 underline"><a href="/login">Login here.</a></span></p>
    </div>
  </div>
</div>
<%- include('../partials/footer') %> 