<!-- <%- include('./newsletter.ejs') %> -->
<footer>
    <div class="bg-blue-100 p-4 flex justify-center" id="mc_embed_shell">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">    
        <div id="mc_embed_signup">
        <form action="https://nextgencodersacademy.us13.list-manage.com/subscribe/post?u=a1609da6508a05265da64ef53&amp;id=9d0f226430&amp;f_id=00c80ae3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
                <h2>Join our newsletter mailing list!</h2>
                <div class="mc-field-group">
                    <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" aria-required required placeholder="Enter Email Address">
                </div>
            <div id="mce-responses" class="clear foot">
                <div class="response" id="mce-error-response" style="display: none;"></div>
                <div class="response" id="mce-success-response" style="display: none;"></div>
            </div>
            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                <input type="text" name="b_a1609da6508a05265da64ef53_9d0f226430" tabindex="-1" value="">
            </div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
    <div class="flex justify-center my-12">      
        <div class="mr-4">
            <h3 class="font-bold">About</h3>
            <nav>
                <ul>
                    <li><a href="/" class="hover:text-blue-500 hover:underline">FAQs</a></li>
                    <li><a href="/" class="hover:text-blue-500 hover:underline">About NextGen</a></li>
                    <li><a href="/request-info" class="hover:text-blue-500 hover:underline">Request Info</a></li>
                    <li><a href="/courses" class="hover:text-blue-500 hover:underline">Courses</a></li>
                </ul>
            </nav>
        </div>
        <div class="ml-4">
            <h3 class="font-bold">Resources</h3>
            <nav>
                <ul>
                    <li>
                        <a href="#" class="hover:text-blue-500 hover:underline"">Blog</a>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </li>
                    <li>
                        <a href="#" class="hover:text-blue-500 hover:underline"">Recording</a>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="flex flex-col items-center bg-blue-900">
        <div class="p-4 mt-8 max-w-md">
            <ul class="flex justify-evenly mb-4">
                <li class="mx-6">
                    <a class="text-white text-xl p-1 hover:bg-blue-600 hover:rounded-lg" href="#" target="_blank">
                        <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </li>
                <li class="mx-6">
                    <a class="text-white text-xl p-1 hover:bg-blue-600 hover:rounded-lg" href="#" target="_blank">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="mx-6">
                    <a class="text-white text-xl p-1 hover:bg-blue-600 hover:rounded-lg" href="#" target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="mx-6">
                    <a class="text-white text-xl p-1 hover:bg-blue-600 hover:rounded-lg" href="#" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="mx-6">
                    <a class="text-white text-xl p-1 hover:bg-blue-600 hover:rounded-lg" href="#" target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pb-8">
            <p class="text-center text-white text-xs">Copyright © NextGen Coders Academy.</p>
            <p class="text-center text-white text-xs">All Rights Reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>