    <title>NextGen Coders Academy</title>
    <link rel="icon" type="image/x-icon" href="/images/ng-logo.jpg">
    <script src="../../javascripts/functions.js" defer></script>
</head>
<body class="h-screen">
<%- include('./nav') %>