<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="<%= metaDescription %>">
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet"></link>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet"></link>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/b9f74e10bb.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/images/ng-logo.jpg">
    <script src="../../javascripts/functions.js" defer></script>
</head>
<%- include("./nav")%>