<header>
    <h1>NextGen Coders Academy</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/home">Todos List</a>
            </li>
        </ul>
    </nav>
</header>