<header>
    <h1>NextGen Coders Academy</h1>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/courses">Upcoming Courses</a>
            </li>
        </ul>
    </nav>
</header>