<header class="bg-blue-900 sticky top-0 z-20">
    <nav class="p-3 md:mx-12 lg:mx-24 xl:mx-40">
        <div class="flex justify-between">
            <div class="text-white text-lg font-bold">
                <a href="/" class="flex items-center">
                    <img src="../../images/ng-logo.jpg" alt="Logo" class="h-10 w-10">
                    <span class="text-white font-bold ml-4">NextGenCoders</span>
                </a>
            </div>
            <!-- Desktop Menu Items -->
            <div class="hidden md:flex space-x-4">
                <a href="/" class="text-white py-2 hover:text-blue-500 hover:underline">About NextGen</a>
                <a href="/" class="text-white py-2 hover:text-blue-500 hover:underline">Course Overview</a>
                <a href="/" class="text-white py-2 hover:text-blue-500 hover:underline">Request Info</a>
                <a href="/register" class="text-black font-bold bg-blue-200 px-4 py-2 rounded hover:bg-blue-300">Register</a>
                <a href="/login" class="text-white font-bold bg-blue-950 px-4 py-2 rounded hover:bg-blue-700">Login</a>
            </div>
            <!-- Hamburger Menu Icon -->
            <button id="mobile-menu-btn" class="text-white focus:outline-none md:hidden">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="fixed inset-0 bg-blue-950 hidden md:hidden z-50 flex flex-col justify-evenly">
            <button id="mobile-menu-close" class="absolute top-4 right-4 text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="/" class="block text-2xl text-white ml-2 hover:text-blue-500 hover:underline">About NextGen</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="/" class="block text-2xl text-white hover:text-blue-500 hover:underline ml-2">Course Overview</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="/" class="block text-2xl text-white hover:text-blue-500 hover:underline ml-2">Request Info</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="/login" class="block font-bold text-2xl text-slate-200 hover:text-blue-500 hover:underline ml-2">Login</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="/register" class="block font-bold text-2xl text-slate-200 hover:text-blue-500 hover:underline ml-2">Register</a>
            </div>
        </div>
    </nav>
</header>