<header class="bg-blue-900 sticky top-0 z-20">
    <nav class="p-3 max-w-screen-lg">
        <div class="flex items-center justify-between">
            <div class="text-white text-lg font-bold">
                <div class="flex items-center">
                    <img src="../../images/ng-logo.jpg" alt="Logo" class="h-10 w-10">
                    <span class="text-white font-bold ml-4">NextGenCoders</span>
                </div>
            </div>
            <!-- Desktop Menu Items -->
            <div class="hidden md:flex space-x-4">
                <a href="#" class="text-white">About</a>
                <a href="#" class="text-white">Courses</a>
                <a href="#" class="text-white">Contact</a>
                <a href="#" class="text-white">Login</a>
                <a href="#" class="text-white">Register</a>
            </div>
            <!-- Hamburger Menu Icon -->
            <button id="mobile-menu-btn" class="text-white focus:outline-none md:hidden">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
        <!-- Mobile Menu -->
        <div id="mobile-menu" class="fixed inset-0 bg-blue-950 hidden md:hidden z-50 flex flex-col justify-evenly">
            <button id="mobile-menu-close" class="absolute top-4 right-4 text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="#" class="block text-2xl text-white ml-2">About</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="#" class="block text-2xl text-white ml-2">Courses</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="#" class="block text-2xl text-white ml-2">Contact</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="#" class="block text-2xl text-white ml-2">Login</a>
            </div>
            <div class="flex items-center ml-16">
                <i class="text-white fa-regular fa-circle-check"></i>
                <a href="#" class="block text-2xl text-white ml-2">Register</a>
            </div>
        </div>
    </nav>
</header>