<header class="menu active">
    <div class="header font-outfit">
        <h1 class="text-1xl">Hello World</h1>
        <div class="header-content">
            <img src="images/ng-logo.jpg" />

        </div>
        <nav class="menu">
        <%# add hamburger functionality %>
            <ul class="nav-flex">
                <li class="nav-item">
                    <a class="nav-item-a" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-a" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-a" href="/courses">List of Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item-a" href="/events">Upcoming Events</a>
                </li>
            </ul>
        </nav>
    </div>
</header>