<header class="menu active">
    <div class="header font-outfit">
        <div class="header-content">
            <img src="images/ng-logo.jpg" />
        </div>
        <div class="hamburger">
            <span>&nbsp;</span>
            <span>&nbsp;</span>
            <span>&nbsp;</span>
        </div>
        <div class="menu">
            <div></div>
            <div class="nav-flex">
            <div class="nav-item">
                <a class="nav-item-a" href="/">Main</a>
            </div>
            <div class="nav-item">
                    <a class="nav-item-a" href="/about">About</a>
                </div>
                <div class="nav-item">
                    <a class="nav-item-a" href="/info-sessions">Info Sessions</a>
                </div>
                <div class="nav-item">
                    <a class="nav-item-a" href="/recordings">Recordings</a>
                </div>
                <div class="nav-item"><a class="nav-item-a" href="/upcoming-cohorts">Upcoming Cohorts</a>
                </div>
                <div class="nav-item">
                    <a class="nav-item-a" href="/login">Login</a>
                </div>
            </div>
            <div class="nav-item-signup uppercase">
                <a class="nav-item-a" href="/sign-up">sign up</a>
            </div>
        </div>
    </div>
</header>