<footer>
    <div class="flex mx-auto justify-center items-center my-16">
        <div class="flex-col flex">
            <form action="https://nextgencodersacademy.us13.list-manage.com/subscribe/post?u=a1609da6508a05265da64ef53&amp;id=9d0f226430&amp;f_id=00c80ae3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="w-full max-w-lg justify-center align-center">
                <div class="flex flex-col">
                    <h2 class="mb-8 text-2xl font-bold">Join our newsletter mailing list!</h2>
                    <div class="flex flex-col mb-8">
                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="mce-EMAIL">Email Address*</label>
                        <input type="email" name="EMAIL" id="mce-EMAIL" aria-required required placeholder="Enter Email Address" class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white">
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div aria-hidden="true" hidden>
                        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                        <input type="text" style="position: absolute; left: -5000px;" name="b_a1609da6508a05265da64ef53_9d0f226430" value="">
                    </div>
                    <div>
                        <button type="submit" name="subscribe" id="mc-embedded-subscribe" value="Subscribe" class="font-sm rounded px-4 py-2 text-white bg-blue-400 hover:bg-blue-500">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script><script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>