<div class="flex flex-col pt-20">
    <h1 class="font-outfit md:font-audiowide text-2xl"> Resources </h1>
    <a class="resourceBtn text-center font-outfit text-lg" href="./info-sessions">Info Sessions</a>
    <a class="resourceBtn text-center font-outfit text-lg" href="./recordings">Class Recordings</a>
</div>