<section>
    <h3>Become a software developer.</h3>
    <ol>
        <li>Work on real projects.</li>
        <li>Learn from experts in the industry.</li>
        <li>Live classes.</li>
        <li>Flexible payment options.</li>
    </ol>
</section>