<section class="my-16">
    <h3 class="lg:text-5xl md:text-3xl sm:text-xl font-bold">Become a software developer.</h3>
    <ol class="mt-8">
        <li class="ml-4 lg:mb-4 md:mb-2 md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>Work on real projects.</li>
        <li class="ml-4 lg:mb-4 md:mb-2 md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>Learn from experts in the industry.</li>
        <li class="ml-4 lg:mb-4 md:mb-2 md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>Live classes.</li>
        <li class="ml-4  md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>Flexible payment options.</li>
    </ol>
</section>