<section class="my-16">
    <h3 class="lg:text-5xl md:text-3xl sm:text-xl font-bold">Become a software developer.</h3>
    <ol class="mt-8">
        <li class="ml-4 lg:mb-4 md:mb-2 md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>At our coding bootcamp, work on real projects.</li>
        <li class="ml-4 lg:mb-4 md:mb-2 md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>Learn to code from experts in the industry.</li>
        <li class="ml-4 lg:mb-4 md:mb-2 md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>Take live classes to launch your tech career.</li>
        <li class="ml-4  md:text-2xl lg:text-3xl"><i class="fa-regular fa-square-check mr-2"></i>We offer an <strong>array</strong> of flexible payment options.</li>
    </ol>
</section>