<div class='grid grid-cols-1 gap-4 content-center pt-20 '>
    <h1 class="font-outfit md:font-audiowide text-2xl">Upcoming Cohorts</h1>
    <% courses.forEach(function(course) { %>
        <p><%= course.name %></p>
        <p><%= course.date %></p>
        <a class="button" href="/courses/<%= course.id %>">Go To Course!</a>
    <% }) %>
</div>