<div class="max-w-3xl">
    <div class="mx-2">
        <img class="my-4 rounded-lg shadow-md" src="../../../images/engineer-4904878_1280.jpg" alt="">
        <div>
            <h3 class="ml-2 text-xl font-bold tracking-wider">1. Fundamentals of Frontend Development</h3>
            <p class="ml-9 text-md">Static site development w/ HTML, CSS, & JS</p>
        </div>
    </div>
    <div class="mx-2">
        <img class="my-4 rounded-lg shadow-md" src="../../../images/code-2558220_1280.jpg" alt="">
        <div class="flex flex-col">
            <h3 class="ml-2 text-xl font-bold tracking-wider">2. Frontend Development w/ React</h3>
            <p class="ml-9 text-md">Build client-rendered applications that leverage an API for data.</p>
        </div>
    </div>
    <div class="mx-2">
        <img class="my-4 rounded-lg shadow-md" src="../../../images/programming-2115930_1280.jpg" alt="">
        <div>
            <h3 class="ml-2 text-xl font-bold tracking-wider">3. Fullstack Developemt w/ JavaScript & NoSQL</h3>
            <p class="ml-9 text-md">Build full stack server rendered application w/JavaScript & MongoDB.</p>
        </div>
    </div>
    <div class="mx-2">
        <img class="my-4 rounded-lg shadow-md" src="../../../images/shutter.jpg" alt="">
        <div>
            <h3 class="ml-2 text-xl font-bold tracking-wider">4. Fullstack Development w/ Python & SQL</h3>
            <p class="ml-9 text-md">Build full stack server rendered applications w/ Python & PostgreSQL.</p>
        </div>
    </div>
</div>