<h3 class="text-4xl"">Instructors</h3>
<div class="flex flex-row p-10">
    <% employees.forEach(function(employee) { %>
        <div class="bg-red-300 flex-row mx-10 px-10 rounded-lg">
            <img class="m-10 p-10" src="<%= employee.image %>" />
            <h2 class="text-3xl"><%= employee.firstName %> <%= employee.lastName %></h2>
            <p><%= employee.bio %></p>
        </div>
    <% }) %>
</div>