<div class="max-md:overflow-hidden translate-x-4">
    <img class="w-32 ml-auto  max-md:translate-x-10  md:translate-y-36  md:mr-1" src="./images/Img_shape.png" alt="atomic symbol">
</div>
<div class="text-center lg:text-left">
    <h1 class="font-audiowide text-4xl md:text-6xl lg:text-8xl">NextGen<span class="text-[var(--red)]">Coders</span><span class="text-lg md:text-xl lg:text-2xl uppercase flex justify-center">Academy</span></h1>
</div>