<div class="grid grid-cols-2 gap-y-12 md:grid-cols-[1.2fr_1fr] place-items-center">
    <div>
        <h2 class="font-outfit md:font-audiowide text-3xl md:text-4xl lg:text-5xl tracking-wide"> Empowering Your Dreams,<br>One Line of Code at a Time </h2>
    </div>
    <div>
        <div class="max-md:hidden">Video Courses</div>
        <div class="max-md:hidden"> Online Courses</div>
        <div class="max-md:hidden"> Tutors</div>
        <img class="rounded-full w-40 md:w-60 mx-auto" src="./images/shutter.jpg" alt="Home">
    </div>
    <div class="max-md:col-span-2">
        <p class="font-outfit lg:text-lg">Welcome to NextGen Coders Academy - where education meets innovation! Our bootcamp, created by educators and software engineers, offers flexible pricing and learning options. We believe in providing everyone with a fair shot at learning and success. Explore the intersection of AI engineering and application development with us.<br>Let's revolutionize learning together!
        </p>
    </div>
    <div class="max-md:col-span-2  max-md:mx-auto max-md:translate-y-2 md:ml-auto">
        <a class="btn" href="./sign-up">Sign Up <span class="ml-24">→</span></a>
    </div>
</div>
