<section class="relative h-screen bg-slate-800">
    <img src="../../../images/hero-image.png" alt="Hero Image" class="absolute inset-0 w-full h-full object-cover opacity-70">
    <div class="absolute inset-0 flex items-center justify-center">
        <div class="text-center text-white shadow-md">
            <h1 class=" text-blue-300 text-4xl md:text-6xl font-bold">NextGen<span class="text-white">Coders</span></h1>
            <p class="text-lg md:text-xl">ACADEMY</p>
            <a href="#" class="mt-8 inline-block bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Learn More →</a>
        </div>
    </div>
</section>
