<div class="grid grid-cols-2 gap-y-12 md:grid-cols-[1.2fr_1fr]">
    <div>
        <h2 class="font-outfit md:font-audiowide text-3xl md:text-4xl lg:text-5xl tracking-wide"> Empowering Your Dreams,<br>One Line of Code at a Time </h2>
    </div>
    <div class="grid relative">
        <!-- <div class="max-md:hidden text-right">Video Courses</div>
        <div class="max-md:hidden text-right">Online Courses</div>
        <div class="max-md:hidden text-right">Tutors</div> -->
        <img class="rounded-full w-45 md:w-60 mx-auto object-right" src="./images/shutter.jpg" alt="Home">
    </div>
    <div class="flex max-md:col-span-2 h-full">
        <p class="font-outfit lg:text-lg -mt-2">Welcome to NextGen Coders Academy - where education meets innovation! Our bootcamp, created by educators and software engineers, offers flexible pricing and learning options. We believe in providing everyone with a fair shot at learning and success. Explore the intersection of AI engineering and application development with us.<br>Let's revolutionize learning together!
        </p>
    </div>
    <div class="flex items-center justify-center">
        <a class="btn bg-[#ea3838] inline-block align-text-top text-lg" href="/register">Sign Up<span class="ml-2">→</span></a>
    </div>
</div>
