<section class="flex items-center">
    <div class="">
    <h2>Join a Software Engineering program today.</h2>
    <p>Welcome to NextGen Coders Academy - where education meets innovation! Our bootcamp, created by educators and software engineers, offers flexible pricing and learning options. We believe in providing everyone with a fair shot at learning and success. Explore the intersection of AI engineering and application development with us. Let's revolutionize learning together!</p>
    <button>Learn More →</button>
</div>
</section>