<section class="mt-16 max-w-screen-md bg-blue-50 p-4 md:rounded-lg">
    <div class="my-12 md:p-12 md:my-0">
        <h2 class="text-2xl font-bold tracking-wide mb-6">Join a Software Engineering program today.</h2>
        <p class=" ml-4 leading-6">Welcome to NextGen Coders Academy - where education meets innovation! Our bootcamp, created by educators and software engineers, offers flexible pricing and learning options. We believe in providing everyone with a fair shot at learning and success. Explore the intersection of AI engineering and application development with us. Let's revolutionize learning together!</p>
        <a href="#" class="mt-8 inline-block bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Learn More →</a>
    </div>
</section>