<%- include('./partials/head') %>
<div id="error">
    <h1>Uh oh! Could not find the page you requested. As a response, please enjoy this cute photo. </h1>
    <img src="https://images.unsplash.com/photo-1450778869180-41d0601e046e?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
    <a class="button" href="/courses">Back To All Courses</a>
    <%- include('./partials/footer') %>
</div>