<!DOCTYPE html>
<html lang="en">
<body>

    <h3>All Employees:</h3>
    <% employees.forEach(function(employee) { %>
        <p><%= employee.firstName %> <%= employee.lastName %></p>
    <% }) %>
    
</body>
</html>