@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --black: #000000;
  --white: #f8f8f8;
  --red: #ea3838;
  --yellow: #ffcb22;
  --gray: #afaca8;
  --hamburgerBg: rgba(234,56,56,0.2);
  --transition: all 0.25s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer components {
  /* Apply fixed with .vscode folder and json contents */ 
  .btn {
     @apply bg-[var(--yellow)] text-[var(--black)] px-14 py-[16px] rounded-full;
  }
  .resourceBtn {
    @apply bg-[var(--white)] text-[var(--black)] px-10 py-[16px] rounded-full mt-4;
 }
}

.date-input {
  border-radius: 2rem;
  padding: 0.5rem 2rem 0.5rem 1rem;
}


