* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}

li {
    list-style: none;
}