<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %>
    <h1>What makes NextGen Coders Academy The Right Choice?</h1>
    <h3>What’s happening right now in the industry helps us!
    </h3>
    <p>
        The industry has largely decided to go with less and less live instruction. Speaking for myself, on behalf of the countless students I’ve taught who I’ve spoken to, and many other instructors who also got into the industry through bootcamps, that would’ve severely hurt our chances of getting jobs in the industry following cohorts and our ability to have good careers as software developers and instructors leading these types of classes.
    </p>
    <h3>How are you able to have the top instructors leading these classes at a discounted price?</h3>
    <p>
        This is probably the biggest question I get asked and there are many reasons for this ability. The primary factor is that those of us who are starting the company have understood that we will need to wear a lot of hats and not be paid for this work most likely until it’s a very proven concept with a very strong reputation in the industry. In exchange, we get equity in a company we know will have a lot of value one day, which is a great deal for everyone involved.
    </p>
    <p>
        Another key reason for this is that my former company along with countless others in the industry have had mass layoffs of instructors and other staff, often 40% or more of instructors and staff, which has made a lot of talented individuals available. This is both due to the automation of the classes as well as students understandably not being thrilled about the prospect of paying so much money for 50% or more lectures being pre-recorded videos. 
    </p>
    <h3>Are you saying that there will be no pre-recorded videos?</h3>
    <p>
        There will not be any pre-recorded videos for the core lessons. What I mean by this is that the main topics that all students must understand and be able to implement will all be done via live lectures. These lectures will cover all the topics listed on our website for the core technologies including Javascript, HTML, CSS, Typescript, Node, Express, EJS, Mongo, React with Next.js, Python, Machine Learning and AI, Django, Postgres, algorithms and more. 
    </p>
    <p>
        However, some more advanced features such as complex authentication topics very advanced algorithms, or computer science topics may be done as pre-recorded videos or optional lectures that are recorded with whoever wants to attend. This is because only very advanced students who have some background in computer science or coding would be expected to understand such complex topics and they will also make excellent additional material for most students without that background once they graduate and are looking to continue to add to their resume and portfolio.
    </p>
    <h3>How is the financial aspect more flexible?</h3>
    <p>
        We ensure that the financial aspect is not only less expensive, as it is $14,000 for the entire cohort with discounts for paying the full amount upfront, but we also allow for a full refund of any portion that is not used for a student who wants to leave a cohort for any reason. The student doesn’t even need to disclose the reason if it’s personal. 
    </p>
    <p>
        This was a huge problem I’ve seen in my former company and heard about from many others in different companies, from other students and instructors I’ve spoken to. The general industry standard is to find the minimum the company can do in terms of that given state, hypothetically if they have finished 40% of the course they aren’t entitled to a refund, and instituted that as a policy. That resulted, in my experience, in having students who faced unfortunate and unexpected life events such as COVID, family issues (including deaths in their family), changing work requirements or financial requirements, and many other similar problems meaning students were put in a terrible situation of having to get little to nothing out of the overall experience or having to be incredibly independent to get the job they had come in hoping for. It also caused us as instructors to continue having students who had struggled in the first few units despite not having a great background for the later units, knowing it’d be nearly impossible for them to get the most out of those units.
    </p>
    <p>
        A better solution for everyone would be for students to be allowed to leave at any point. And if you’ve finished 60% and need extra time to catch up or handle unexpected life issues, you will get the other 40% back and you can re-enroll for the remaining portion you missed out on by repaying that 40% at any time.
    </p>
    <h3>Did you say you also offer guarantees and refunds based on outcomes?</h3>
    <p>We do! This will be available to any student who accomplishes the following:</p>
    <ul>
        <li>The student finishes 90% or more of their deliverables, with many of those deliverables going above and beyond the minimum requirements. 75% of the deliverables must not only be finished but also submitted by the due date.</li>
        <li>The student goes above and beyond the minimum requirements for an MVP for the course but also hits the listed MVP goals for a “portfolio” project. If any project does not meet this by the time it is submitted, students will be notified within 72 hours and will have 72 hours from that time to improve the submission.</li>
        <li>The student does not have more than two unexcused absences.</li>
        <li>The student made it to 30 or more office hours.</li>
        <li>The student was regularly active during lectures by asking questions.</li>
        <li>The student applied to an average of at least 10 jobs a week and followed up with people in the company for an average of at least 5 jobs a week.</li>
        <li>The student submitted at least one question to the group for outcomes about a question they got on an interview for every 3 months they looked for a job.</li>
        <li>The student did not get a job within 9 months of graduating from their cohort.
            <ul>
                <li>They will receive a 40% refund if they did not receive a job that pays at least $60,000 a year within 9 months of graduating from their cohort even if they did find employment.</li>
            </ul>
        </li>
    </ul>
    <p>So here’s your opportunity to join the best up-and-coming coding bootcamp at the best possible price! We look forward to you joining us!</p>
    
    <%- include('../partials/footer') %>
</body>
</htm>