<h1>Join the Q&A!</h1>
<h1>Q&A Sessions every Sunday and Tuesday at 8pm ET.</h1>
<form action="/prospects" method="POST">
    <div>
        <label for="firstName">First Name</label>
        <input
            type="text"
            name="firstName"
            id="firstName"
        />
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input
            type="text"
            name="lastName"
            id="lastName"
        />
    </div>
    <div>
        <label for="email">Email</label>
        <input
            type="text"
            name="email"
            id="email"
        />
    </div>
    <div>
        <label for="location">Location</label>
        <input
            type="text"
            name="location"
            id="location"
        />
    </div>
    <div>
        <label for="bio">Tell us a bit about yourself</label>
        <textarea
            type="text"
            name="bio"
            id="bio"
            rows="10"
        ></textarea>
    </div>
    <button class="button is-info">To Participate</button>
</form>
<a class="button" href="/events">See All Events</a>